<div class="col-md-4" >
  <div class="card mb-4 box-shadow" data-id="<%= portfolio_item.id %>">
    <%= image_tag portfolio_img(portfolio_item.thumb_image, 'thumb'), :size => '350x200' %>
    <div class="card-body">
      <span><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></span> <%= portfolio_item.subtitle %>
      <div class="d-flex justify-content-between align-items-center">
        <!--<div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>-->
      </div>
    </div>
  </div>
</div>