<div class="app-card-container">
  <div class="card">

    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "portfolio.jpg", width: 250, alt: "profile image", class: 'profile-img' %>
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h5><%= skill.title %></h5>
              <div class="progress">
                <div 
                class="progress-bar progress-bar-striped bg-success"
                role="progressbar"
                aria-valuenow="<%= skill.percent_utilized %>"
                aria-valuemax="100"
                style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>           
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>I am new to coding. I was interested in it long before I jumped in but I was under the impression that you needed to be a mathematician to be a coder. Once I found this not to be true I dove in head first. I first started teaching myself, online courses, tutorial, whatever I could find. Then after a few months of that I decided to enroll in a full stack Ruby on Rail Bootcamp. I learned a lot as there was a lot to learn. At times it felt like I was drinking from a fire hose. During that time I came to realize how much I enjoy the creative, challenging, problem solving , and frustration of it all. Since I graduated and received my certificate I have been building as many apps as I can and learning more and more. I look forward to the opportunity to put what I have learned so far to the test and in the process be challegened and pushed to expand my knowledge and skills. I am a fast learner, highly and self motivated, enjoy creative problem solving, and learning.
        </p>
      
        <p>
          <button
            class="btn btn-outline-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-outline-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>

        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-body">
              Job 1
            </div>
            <div class="card card-body">
              Job 2
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-body">
              Bottega Ruby on Rails Full-Stack Coding Bootcamp
            </div>
            <div class="card card-body">
              Sonoma State University
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
