<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">
    <span class="element"></span>
  </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    <%= link_to "Project 1", 'https://rbhero.herokuapp.com', :target => "_blank", class: "btn btn-lg btn-secondary" %>
    <%= link_to "Project 2", 'https://eat-it-reviews.herokuapp.com', :target => "_blank", class: "btn btn-lg btn-secondary" %>
  </p>
</div>

